<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>
<th:block layout:fragment="script">
    <script>
            function doDelete(){
                const idx = [[${freeBoardDTO.idx}]];
                let result = confirm('삭제 할꺼야?');
                if(result){
                    $.ajax({
                        url:"http://localhost:8080/FreeBoard/Delete"
                        ,data:{idx}
                        ,type:"delete"
                        ,success:function(result){
                            alert('삭제됨'+result);
                            if(result === 'success'){
                                location.href="/FreeBoard";
                            }
                        }
                        ,error:function(error){
                            alert('error'+error);
                        }
                    });
                }
            }
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <h1>FreeBoard > View🧁</h1>
    <!--thymeleaf:
        $ model 에있는거 가져옴
        @ 경로지정
        * 객체 변수 가져올때-->
            <label class="mb-3 fw-bold">제목</label>
            <div class="border rounded p-3">
                <span th:text="${freeBoardDTO.title}"></span>
            </div>
            <label class="my-3 fw-bold">내용</label>
            <div class="border rounded p-3">
                <span th:text="${freeBoardDTO.content}"></span>
            </div>
        <div class="my-3">
            <a th:href="@{/FreeBoard/UpdateForm(idx=${freeBoardDTO.idx})}" class="btn btn-primary">글수정</a>
            <a th:href="@{/FreeBoard/Delete(idx=${freeBoardDTO.idx})}" class="btn btn-primary">글삭제</a>
        </div>
    </div>
</th:block>
</html>